:root {
    --bg-color: #134e4a;
    --bg-component-color: #115e59;
    --foreground-color: #042f2e;
    --tertiary-color: #0d9488;
    --caret-color: #fb923c;
    --text-color: #0d9488;
    --text-active-color: #99f6e4;
    --error-color: #ff585d;
    /* --error-extra-color: #c04455;
  --colorful-error-color: #ff585d;
  --colorful-error-extra-color: #c04455;
  --sub-alt-color: #26858b; */
}

.bg-color {
    background-color: var(--bg-color);
}

.bg-component-color {
    background-color: var(--bg-component-color);
}
.foreground-color {
    background-color: var(--foreground-color);
}
.tertiary-color {
    background: var(--text-color);
}

.caret-color {
    background-color: var(--caret-color);
}
.text-color {
    color: var(--text-color);
}
.text-active-color {
    color: var(--text-active-color);
}
.error-color {
    color: var(--error-color);
}
.buttonHover {
    background-color: color-mix(in srgb, var(--tertiary-color) 80%, white 20%);
}
